.header {
  width: 100%;
  padding-block: 16px;
  text-align: center;
  border-bottom: 1px solid var(--color-gray);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}
.headerTitle {
  margin: 0;
  font-size: 1.5rem;
}
.headerLogo {
  color: var(--color-accent);
  user-select: none;
  text-decoration: none;
  cursor: default;
}
