.recipeWrapper {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
}
.title {
  margin: 0;
  font-size: 1.3rem;
  text-decoration: underline;
}
.recipeWrapper p,
.recipeWrapper ul,
.recipeWrapper ol {
  margin: 0;
  text-align: left;
}
.recipeWrapper p {
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
}
.info {
  background-color: var(--color-gray);
  padding: 8px;
  border-radius: var(--border-radius-small);
  text-align: center;
}
.infoText {
  font-size: 1rem;
}
.infoBtn {
  margin-top: 16px;
  font-size: 1rem;
  padding: 4px 8px;
  outline: none;
  border-radius: var(--border-radius-small);
  transition: all 0.2s ease;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
}
@media (hover: hover) {
  .infoBtn:hover {
    background-color: transparent;
    color: var(--color-accent);
  }
}
.errorHandling {
  font-size: 1rem;
  width: 100%;
  text-align: center;
  color: #e74c3c;
}
