.appWrapper {
  width: 600px;
  height: auto;
  font-weight: var(--font-regular);
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: var(--border-radius-mid);
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.mainWrapper {
  width: 100%;
  padding: 32px 32px;
}
