/* fonts */
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* normalization */
* {
  font-family: 'Outfit', sans-serif;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:where(ul, ol):where([class]) {
  padding-left: 0;
}
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}
:where(dd[class]) {
  margin-block: 0;
}
:where(ul[class]) {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
textarea,
select,
button {
  font: inherit;
}
html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1.5;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* variables */
:root {
  --color-black: #121212;
  --color-white: #fff;
  --color-accent: #dfa10e;
  --color-gray: #eaeaea;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;

  --border-radius-big: 12px;
  --border-radius-mid: 8px;
  --border-radius-small: 4px;
}

/* styles */
#root {
  width: 600px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  width: 100%;
  height: auto;
  /* padding: 200px; */
  background-color: var(--color-white);
  color: var(--color-black);
  background-image: url('./assets/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
